.capston .heading h1 {
    margin-bottom: 20px;
}

.capston h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}

@media (max-width: 576px) and (max-width: 767.98px) {
    .capston .modal-grid {
        display: flex;
        flex-direction: column;
    }
    .modal-blog .modal-content {
        max-width: 90%;
        margin-bottom: 20%;
    }
}
