/* @import "../App.css"; 이 줄을 제거합니다 */

:root {
    --primary-color: #1808ff;
    --secondary-color: #ff0814;
}

.navbar {
    background-color: #fff;
    padding: 0 20px;
}

nav {
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.fas {
    cursor: pointer;
}

.menu-icon {
    display: none;
    font-size: 20px;
}

.menu-icon .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
}

.menu-icon .fa-bars {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: var(--primary-color);
}

.logo font {
    color: var(--secondary-color);
}

.menu-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu-list li {
    margin-left: 20px;
}

.menu-list li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu-list li a:hover,
.menu-list li a.active {
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .menu-list {
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        transition: all 0.3s ease-out;
    }

    .menu-list.close {
        left: -100%;
    }

    .menu-list li {
        margin: 10px 30px;
    }

    .menu-list li a {
        display: block;
        padding: 10px 0;
    }
}
