.academy .heading h1 {
    margin-bottom: 20px;
}

.academy h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.academy .acad img {
    float: right;
    margin-right: 200px;
    margin-top: 50px;
}

.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}

@media screen and (min-width: 312px) and (max-width: 768px) {
    .academy .modal-grid {
        display: flex;
        flex-direction: column;
    }
    .modal-blog .modal-content {
        max-width: 90%;
        margin-bottom: 20%;
    }
}
