.modal-heading {
    margin: 10px 0 50px 0;
}

.academy h1 {
    font-size: 25px;
}

.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}

.modal-blog.modal,
.modal-blog.overlay {
    overflow: scroll;
}
.modal-blog.modal .modal-content {
    position: relative;
    top: 10%;
    left: 0;
    max-width: 70%;
    margin: auto;
    margin-bottom: 10%;
}
.modal-blog .modal-content .left,
.modal-blog .modal-content .right {
    width: 100%;
    padding: 0;
    margin-top: 10px;
}
/*----------blog_contact--------*/

.blog_contact .left,
.blog_contact .right {
    margin: 0 25px 0 0;
}

/*----------blog_contact--------*/
@media (max-width: 768px) {
    .modal-blog.modal .modal-content {
        max-width: 90%;
    }
    .modal-blog.modal .modal-content {
        margin-bottom: 20%;
    }
    .modal-grid {
        display: flex;
        flex-direction: column;
    }
}
