.lab .heading h1 {
    margin-bottom: 20px;
}

.lab h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.lab .modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}

.lab .lab img {
    float: right;
    margin-right: 200px;
    margin-top: 50px;
}

@media (max-width: 576px) and (max-width: 767.98px) {
    .lab .modal-grid {
        display: flex;
        flex-direction: column;
    }
    .modal-blog .modal-content {
        max-width: 90%;
        margin-bottom: 20%;
    }
}
