.lab {
    display: flex;
}

.lab .heading h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.lab .heading h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 200%;
    color: black;
}

.lab .modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}

.lab .lab img {
    float: right;
    margin-right: 200px;
    margin-top: 50px;
}

@media screen and (min-width: 312px) and (max-width: 768px) {
    .lab .modal-grid {
        display: flex;
        flex-direction: column;
    }
    .modal-blog .lab img {
        margin-right: 150px;
        margin-left: 300px;
        margin-top: 0px;
        padding-top: 0px;
        width: 150px;
        height: 150px;
    }
}