.home {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 1rem;
    grid-template-areas:
        'box1 box1'
        'box2 box3'
        'box4 box5'
        'box6 box7'
        'box8 box8'
        'box9 box9'
        'box10 box11'
        'box12 box12'
        'box13 box14'
        'box15 box16'
        'box17 box18'
        'box19 box19';
}

.home .box1 {
    grid-area: box1;
    margin-bottom: 20px;
}
.home .box1 h1 {
    font-size: 50px;
    font-weight: bold;
}

.home .box2 {
    grid-area: box2;
    font-size: 20px;
    color: #1808ff;
    margin-bottom: 40px;
}

.home .box3 {
    grid-area: box3;
    font-size: 20px;
    color: #1808ff;
    margin-bottom: 40px;
}

.home .box4 {
    grid-area: box4;
    width: 100%;
    margin-bottom: 40px;
    line-height: 300%;
}

.home .box5 {
    grid-area: box5;
    margin-bottom: 40px;
}

.home .box6 {
    grid-area: box6;
    margin-bottom: 40px;
}

.home .box7 {
    width: 100%;
    grid-area: box7;
    line-height: 300%;
    margin-bottom: 40px;
}

.home .box8 {
    grid-area: box8;
    line-height: 300%;
    margin-bottom: 40px;
}

.home .box8 h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 200%;
    color: #1808ff;
}

.home .box9 {
    grid-area: box9;
    margin-bottom: 40px;
}
.home .box9 a {
    color: #ff0814;
    font-weight: 700;
}

.home .box10 {
    grid-area: box10;
    margin-bottom: 40px;
}

.home .box10 h1 {
    color: #ff0814;
}

.home .box11 h1 {
    color: #ff0814;
}

.home .box10 img {
    float: right;
}

.home .box11 img {
    float: right;
}

.home .box11 {
    grid-area: box11;
    margin-bottom: 40px;
}

.home .box12 {
    grid-area: box12;
    margin-bottom: 40px;
}

.home .box12 h1 {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.home .box13 {
    grid-area: box13;
    width: 100%;
    margin-bottom: 40px;
    line-height: 300%;
}

.home .box14 {
    grid-area: box14;
    margin-bottom: 40px;
}

.home .box15 {
    grid-area: box15;
    margin-bottom: 40px;
}

.home .box16 {
    grid-area: box16;
    width: 100%;
    margin-bottom: 40px;
    line-height: 300%;
}

.home .box17 {
    grid-area: box17;
    width: 100%;
    margin-bottom: 40px;
    line-height: 300%;
}

.home .box18 {
    grid-area: box18;
    margin-bottom: 40px;
}

.home .box19 {
    grid-area: box19;
    line-height: 300%;
}

.home .box19 .sun {
    position: relative;
    left: 1000px;
    bottom: 200px;
}

.home .box19 h1 {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.h_btn_shadow a {
    font-size: 20px;
    font-weight: 700;
    color: #1808ff;
}

.h_btn_shadow {
    padding: 18px 18px;
    border-radius: 6px;
    transition: 0.3s all ease;
    cursor: pointer;
    color: #000;
    transition: 0.5s;
}
.h_btn_shadow {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

@media screen and (min-width: 312px) and (max-width: 768px)  {
    .home {
        display: flex;
        flex-direction: column;
    }
}
