.contact .contact-modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.contact .heading h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.contact .left {
    width: 36%;
}
.contact .right {
    width: 60%;
}
.contact .box {
    padding: 30px;
}
.contact .details h1 {
    margin: 20px 0 20px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.contact .details p {
    font-size: 17px;
}
.contact .button {
    margin-top: 20px;
}
.contact button {
    margin-right: 20px;
}

.contact .right {
    padding: 35px;
}
.contact .input span {
    font-size: 13px;
}
.contact input {
    margin-top: 10px;
}
.contact .right button {
    width: 100%;
    color: #ff014f;
}
.contact .right button:hover {
    color: white;
}
.contact .right button i {
    margin-left: 10px;
}
.contact-img {
    position: absolute;
    top: 30%;
    right: 1%;
    width: 510px;
}
@media (max-width: 768px) {
    .contact .d_flex {
        flex-direction: column;
    }
    .contact .left,
    .contact .right {
        width: 100%;
        margin-top: 50px;
    }
    .contact-modal-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}
