:root {
    --primary-color: #007bff;
    --body-font: Arial, sans-serif;
}

body {
    max-width: 960px; 
    margin: 0 auto;
    font-size: 12px;
}

.content {
    padding: 0 20px;
  }
  
h1 {
    font-size: 24px;  
}

h2 {
    font-size: 18px;
}
a {
    color: var(--primary-color);
}

img, 
video {
    width: 100%;
    height: auto;
}

/* 기본 스타일 */ 

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
}

/* 화면 크기 768px 이하일 때 변경될 스타일 */

/* 화면 크기 768px 이하일 때 변경될 스타일 */
@media (max-width: 768px) {
.navbar {
flex-direction: column;
align-items: flex-start;
}
.content {
max-width: 90%;
margin: 0 20px; /* 작은 화면일 때는 좌우 마진을 20px로 설정 */
}
}

/* 화면 폭 1024px 이상일 때 */ 
@media (min-width: 1024px) {
.content {
margin: 0 200px; /* 큰 화면일 때는 좌우 마진을 200px로 설정 */
}
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}