
:root {
        --primary-color: #007bff;
        --body-font: Arial, sans-serif;
    }
    
    body {
        max-width: 1280px; 
        margin: 0 auto;
        font-size: 12px;
    }

    .content {
    max-width: 1000px;
    margin: 0 auto;  
}

h1 {
        font-size: 24px;  
    }
    
    h2 {
        font-size: 18px;
    }
    a {
        color: var(--primary-color);
    }
    
    img, 
    video {
        width: 100%;
        height: auto;
    }
    
/* 기본 스타일 */ 

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 화면 크기 768px 이하일 때 변경될 스타일 */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
  